
div.bloco{
    height: 200px;
    border: solid 1px black;
    border-radius: 10px;
    margin: 10px;
    background-image: url(imagens/wallpaper003.jpg);
}
div#q1{
 background-position: top right;
} 
div#q2{
background-position: 40px;
}
div#q3{
background-position: center bottom;
}
div#q4{
background-position: bottom left;
}