@charset "UTF-8"; 
* {
    margin: 0%; padding: 0%;
} 

@import url('https://fonts.googleapis.com/css2?family=Srisakdi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

html, body {
    background-color: darkgray;
    min-height: 100%vh;
} 
header {
    background-color: black;
    color: white; 
    text-align: center;
    
} 
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family:'Passion One';
} 
header > p { 
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none; 
    font-weight: bolder;
} 
a:hover {
    text-decoration:underline;
} 
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: Srisakdi, cursive;
    
} 
section > p {
    padding-left: 40px;
    font-family: var(--fontepoema);
} 
.imagem > p {
    background-color: rgba(0, 0, 0, 0.384);
    width: 350px; 
    margin-left: 20px;
}
.normal {
    background-color: white;
    color: black;

} 
.imagem {
    background-color: rgb(39, 37, 37);
    color: white;
}
footer {
    background-color: black;
    text-align: center;
} 
footer > p {
    color: white; 
    padding-top: 50px; padding-bottom: 50px;
    font-size: 110%;
}