@charset "UTF-8"; 
div{display: inline-block;
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px 
    } 

div:hover{
    background-color: blue;}

div#declaração > p {
    display: none;} 

div#declaração:hover > p {
    display: block;
    color: red;
    background-color: lightcoral;}